/Stockband.Api/appsettings.json
/Stockband.Api/appsettings.Development.json
/Stockband.Api/obj/
/Stockband.Api/bin/

/Stockband.Application/obj/
/Stockband.Application/bin/

/Stockband.Application.UnitTest/obj/
/Stockband.Application.UnitTest/bin/


/Stockband.Domain/obj/
/Stockband.Domain/bin/

/Stockband.Infrastructure/obj/
/Stockband.Infrastructure/bin/


.idea
