/Stockband.Api/appsettings.json
/Stockband.Api/appsettings.Development.json
/Stockband.Api/obj/
/Stockband.Api/bin/

/Stockband.Application/obj/
/Stockband.Application/bin/

/Stockband.Application.UnitTests/obj/
/Stockband.Application.UnitTests/bin/

/Stockband.Application.IntegrationTests/obj/
/Stockband.Application.IntegrationTests/bin/

/Stockband.Api.E2E/obj/
/Stockband.Api.E2E/bin/

/Stockband.Domain/obj/
/Stockband.Domain/bin/

/Stockband.Infrastructure/obj/
/Stockband.Infrastructure/bin/


.idea

Stockband.sln.DotSettings.user
